.User {
  display: flex;

  .UserCard {
    width: 240px;
    min-width: 240px;
    margin-right: 16px;

    .ant-card-body {
      position: relative;

      .anticon-check-circle {
        position: absolute;
        top: 30px;
        right: 45px;
        color: @primary-color;
        background-color: @colors[white];
        border-radius: 50%;
        font-size: 20px;
      }
    }
  }

  &.Profile {

    .UserCard {
      .ant-btn {
        text-align: left;
      }
    }
  }

  .UserDetails {
    flex: 1;
    max-width: 100%;

    .ProfileInfo {
      .required_field {
        .ant-select-selector {
          border-color: #ff5c5c;
        }
      }
    }

    table {
      width: 100%;

      tr {

        td {
          padding: 6px 0;
          border-bottom: 1px solid fade(@colors[black], 5%);
          
          &.Label {
            width: 200px;
            font-weight: bold;
            color: @colors[grey];
          }
        }
      }
    }
  }

  @media screen and (max-width: @size[tablet]) {
    display: block;

    .UserCard {
      margin-bottom: 16px;
      width: 100%;
    }

    &.Profile {

      .UserCard {
        margin-right: 0;
        margin-bottom: 0;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 9;
  
        .ant-card-body {
          display: flex;
          padding: 0;
  
          .ant-btn {
            height: auto;
            width: 25%;
  
            span {
              display: block;
              margin: 0;
              text-align: center;
            }
          }
        }
      }
    }
  }
}